.main-window{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.phone-window{
    display: flex;
    width: 24rem;
    height: 45rem;
    background-color: rgba(113, 158, 198, 0.589);
    padding: 1rem;
    justify-content: flex-start;
    border: .3rem solid rgba(184, 229, 255, 0.651);
    box-shadow: 3px 3px 6px 3px rgb(173, 217, 255);
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.game-view {
    height: 23rem;
    width: 100%;
    border: rgba(73, 92, 109, 0.589) solid 2px;
    padding: 1rem;
    font-family: 'Kiwisoda', 'Courier New', Courier, monospace;
    font-size: large;
    content-visibility: auto;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

.game-view::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.game-messages{
    list-style-type: square;
    padding: 0;
    margin-left: 0.7rem;
}

.game-messages li{
    padding-bottom: 1rem;
}

.control-panel{
    display: flex;
    color: rgb(167, 214, 255);
    font-family: 'Kiwisoda', 'Courier New', Courier, monospace;
    font-size: xx-large;
    justify-content: center;
    padding-top: 1rem;
}

@font-face {
  font-family: 'Kiwisoda';
  src: url('./src/assets/fonts/kiwisoda.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

h1{
    border: rgba(240, 248, 255, 0.341) dashed 2px;
}


